Source: libnss-cache
Priority: optional
Maintainer: V Hoffman <vasilios@google.com>
Build-Depends: debhelper (>= 4.0.0), libc6-dev-i386 [amd64],
  libc6-dev-amd64 [i386], gcc-multilib | lib32gcc1 [amd64] | lib64gcc1 [i386]
Standards-Version: 3.6.2
Section: libs

Package: libnss-cache
Section: libs
Architecture: any
Depends: libc6 (>= 2.3.6-0ubuntu20.5), ${misc:Depends}
Description: A lightweight shim around libc nss file support.
 libnss-cache provides support for /etc/passwd.cache, /etc/shadow.cache
 and /etc/group.cache.
