name: CI
on:
  push:
    # Filter on branch so we don't double-run this workflow on a PR's push.
    tags:
      - v*
      - version*
    branches:
      - main
  pull_request:

permissions:
  # none-all, which doesn't exist, but
  # https://docs.github.com/en/actions/reference/authentication-in-a-workflow#using-the-github_token-in-a-workflow
  # implies that the token still gets created.  Elsewhere we learn that any
  # permission not mentioned here gets turned to `none`.
  actions: none

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install dependencies
        run: sudo apt-get install -y time
      - name: build
        run: make all
      - name: test
        run: make check
      - uses: codecov/codecov-action@v5
        if: always()
        with:
          directory: .

  fmt-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jidicula/clang-format-action@v4.16.0
        with:
          fallback-style: "Google"
